* {
    box-sizing: border-box;
}
.MessageForm {
    display: flex;
    flex-direction: row;
    
}

.MessageInput {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    
}
.MessageInput:focus {
    outline-color: #34495e;
}